.container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(81, 80, 80, 0.623);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.modal {
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
}
