.videoGrid {
  display: grid;
  background: var(--secondary-bg);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 20px;
}
.meetingContainer {
  background: transparent;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 92vh;
  gap: 10px;
}

.messageContainer {
  color: white;
  display: grid;
  grid-template-rows: 200px 1fr;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
}
