html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

#App {
  background: var(--primary-bg);
  min-height: 100vh;
}
:root {
  --primary-bg: #062343;
  --secondary-bg: #2d4866;

  --third-bg: #fe9161;
}
